@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --border: 226 232 240;
  }

  * {
    border-color: rgb(var(--border));
  }

  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
